* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* background: linear-gradient(-45deg, #a6f4e5 0%, #23e6bf 47%); */
  /* background-color: rgb(44, 75, 255); */
  background-color: #fff;
  color: #1A2634;
  text-align: center;
}

body,
input,
button {
  font-size: 1em;
}

p {
  margin: 2em 0;
}

ol {
  padding: 0px;
  text-align: left;
}

li {
  margin: 0.5em 0;
}

.hidden {
  display: none;
}

header {
  background-color: #fff;
}

.logo {
  width: 100%;
  max-width: 310px;
  max-height: 120px;
  padding: 1em 0;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 1em;
  margin: 0 auto;
}
.view button:last-child {
  margin-bottom: 0;
}

.row {
  margin: auto;
  display: flex;
  max-width: 1500px;
}

.column {
  margin: 5px;
  flex: 50%;
}

.points {
  text-align: center;
}

.buzzer-mode {
  background-color: rgb(16, 21, 78);
  color: rgb(243, 175, 185);
}

input[type="text"],
input[type="number"],
button {
  display: block;
  padding: 0.8em 1.4em;
  margin: 1em 0;
  width: 100%;
  border-radius: 5px;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #B8B8B8;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="text"]:active,
input[type="number"]:active {
  border-color: #2c4bff;
  box-shadow: 0 0 0 3px #ABB7FF;
  outline: none;
}

button {
  padding: 1.4em 1.4em;
  font-size: 1.2em;
  background-color: #161D99;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.right {
  font-size: 1.2em;
  background-color: #36DB40;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.right:hover{
  background-color: #1fad28;
}

.wrong {
  font-size: 1.2em;
  background-color: #DB3636;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.wrong:hover{
  background-color: #981b1b;
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

#guess_spinner {
	display: inline-block;
  height: 47.0px;
	line-height: 1;
  font-size: 50px;
	animation: anim-rotate 2s infinite linear;
	color: #fff;
	text-shadow: 0 0 .25em rgba(255,255,255, .3);
}

button:hover {
  background-color: rgb(22, 29, 153);
}

button:active {
  box-shadow: rgb(171, 183, 255) 0px 0px 0px 3px;
  outline: 0px;
  transform: translateY(  1px);
}
button:focus {
  box-shadow: 0 0 0 3px #ABB7FF;
}
button.mc_selected{
  background-color: #11c13f;
}

button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.main-image {
  width: 90%;
}

.footer {
  position: fixed;
  bottom: 0px;
  right: 5px;
}

.styleless-link{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.buzzer {
  height: 10em;
  font-size: 2em;
  background-color: rgb(243, 175, 185);
  color: rgb(18, 30, 102);
}
.buzzer:focus {
  box-shadow: 0 0 0 3px #ABB7FF;
}
.buzzer:hover,
.buzzer:active {
  background-color: #e97284;
}

.secondary {
  background-color: #fff;
  color: rgb(16, 21, 78);
}

.secondary:hover {
  background-color: rgb(44, 75, 255);
}
